@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext);
/* Open sans font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin,cyrillic-ext);

#portfolio-body.scrollHeightLong {
    height: 10000px;
}

/* ##### GENERAL  ##### */
*, *:before, *:after {
    outline: 0;padding: 0;margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff url('/static/images/1.jpg');
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

main {
    min-height: 100px;
}

/* ##### 00 : GENERAL  ##### */
section {
    margin-top: 100px;
}

section.services {
    margin-top: -40px;
    z-index: -10;
}

@media (max-width: 991px) {
    section.services {
        margin-top: 50px;
    }
}

.blue-section {
    position: relative;
    background: url(../images/main-feedback-bg.jpg) no-repeat #fff;
    background-size: cover;
    padding: 50px 50px;
    margin-top: 50px;
}

.blue-section .container {
    position: relative;
    z-index: 3;

}


.blue-section-bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 991px) {
    .blue-section-text-box {
        text-align: center;
        margin-bottom: 35px;
    }
}

.white-section {
    background-color: rgba(255, 255, 255, 0.75);
}

.blue-section .white-section {
    border-radius: 3px;
}

.blue-section .white-section p {
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    color: #60606e;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 350px;
}

.blue-section .white-section .error, .blue-section .white-section .success {
    font-family: "Montserrat", sans-serif;
    color: yellow;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;

}

.blue-section .white-section .success {
    color: #fff;
}

.blue-section .white-section .errors-box + .submit-button,
.blue-section .white-section .success + .submit-button {
    margin-top: 15px;
}

.light-gray-section {
    background-color: #00f0d3;
}

img {width: 100%;}

/*blockquote*/
blockquote.bq {
    padding: 30px;
    border-left: solid 10px #7beec7;
    font-style: italic;
    font-size: 14px;
    line-height: 30px;
    color: #60606e;
    background-color: #efeff0;
}

/*links*/
a {
    color: #60606e;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.link {
    position: relative;
}

a.link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #7beec7;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus {
    color: #60606e;
    text-decoration: none;
}

a:hover:after {
    width: 50%;
}

/*texts*/
.open-sans-text {font-family: "Open sans", sans-serif}

.roboto-text {font-family: "Roboto", sans-serif}

.white-text { text-transform: uppercase; color: white;}

.green-text {color: #7beec7;}

.gray-text {color: #60606e;}

.uppercase {text-transform: uppercase;}

.italic {font-style: italic;}

p {
    font-family: "Montserrat", sans-serif;
    color: #60606e;
    line-height: 30px;
}

ul.social-icons li a:hover {

}

/*section's title*/
.section-title {
    width: 50%;
    margin: 0 auto 50px;
    text-align: center;
}

.section-title span {
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #60606e;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 22px 22px 17px;

}

.page-contacts-section .section-title span,
.page-services-box .section-title span,
section.portfolio-section .section-title span,
section.services .section-title span {
    margin-bottom: 0px;
}

.section-title .white {

    color: #fff;
}

.section-bg span {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.section-title span:after {

    content: "";
    position: absolute;
    top: 52px;
    left: 20px;
    z-index: -1;
    width: 55%;
    height: 2px;
    background-color: #60606e;
}

.section-title span.white:after {
    background-color: #fff;
}

.section-title p {
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    color: #60606e;
    font-size: 17px;
    font-weight: 400;
}

.history-cite-box p {
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    padding: 20px 15px 24px 33px;
    color: rgba(255, 255, 255, 0.85);
    /*background-color: rgba(0, 0, 0, 0.15);*/
    background-color: rgba(21, 22, 25, 0.45);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.history-cite-box .section-title span {
    padding-top: 0;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.85);
}


.history-cite-box .section-title span:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 3px;
    z-index: -1;
    width: 55%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.85);
}


.agency .btn.grey {
    float: right;
    margin-top: 46px;
}

@media (max-width: 991px) {
    .section-title {
        margin: 0 auto 50px;
    }

    .agency .section-title span {
        padding-top: 2px;
        padding-left: 17px;
        margin: 0 auto 20px;
        color: #60606e;
    }

    .agency .section-title span:after {
        background-color: #60606e;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

    }

    .agency .btn.grey {
        margin-top: 25px;
    }
}


/*lists*/
/*list 1*/
ul.list li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

ul.list li:last-child {margin-bottom: 0}

ul.list li:before {
    font-family: "Ionicons";
    content: '\f374';
    position: absolute;
    left: 0;
    color: #7beec7;
}

/*list 2*/
ul.list_2 li {
    list-style: none;
    float: left;
    width: 100%;
}

ul.list_2 li a {
    display: inline-block;
    padding: 20px;
    border-bottom: solid 1px #bfbfbf;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

ul.list_2 li:first-child a {border-top: solid 1px #bfbfbf;}

ul.list_2 li a > span {
    float: right;
}

ul.list_2 li a:hover {border-bottom: solid 1px #7beec7;}

/*list 3 (tags)*/
ul.tags {
    float: left;
}

ul.tags li {
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

ul.tags li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #60606e;
    background-color: #e5e5e5;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tags li a:hover {
    background-color: #f2f2f2;
    color: #60606e;
}

/*social icons*/
ul.social-icons {
    margin-top: 10px;
}

ul.social-icons li {
    list-style: none;
    float: right;
    margin: 0 30px;
}

ul.social-icons li:first-child {margin: 0 0 0 30px;}

ul.social-icons li:last-child {margin: 0 0 0 30px;}

ul.social-icons li a {
    color: #60606e;
    font-size: 20px;
}

/*buttons*/
.btn {
    height: 50px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 5px 20px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.btn.green {
    background-color: #7beec7;
    color: #fff;
}

.btn.white {
    background-color: #fff;
    color: #7beec7;
}

.btn.grey {
    background-color: #60606e;
    color: #fff;
    outline: none;
}

@media (max-width: 991px) {
    .btn {
        margin: 20px 0;
    }

    .submit-button .btn {
        margin: 5px 0;
    }

}


/*tab menu*/

.tab {
    overflow: hidden;
    float: left;
}

.tab nav {
    width: 100%;
    display: inline-block;
    float: left;
    border-bottom: solid 2px #e6e6e6;
    margin-bottom: 30px;
    position: relative;
}

.tab nav .bottom-line {
    height: 2px;
    background-color: #7beec7;
    position: absolute;
    bottom: -2px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tab nav a {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px 20px;
    color: #60606e;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
}

.tab nav a.current {color: #60606e;}

.tab .tab_single {display: none;}

.tab .tab_single.shown {display: block;}

/* ##### 01 : HEADER & FOOTER  ##### */
/*header*/
header.main-header {
    background-color: rgba(21, 22, 25, 0.75);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

/*logo*/
header.main-header .logo {
    float: left;
    height: 80px;
    line-height: 80px;
}

.logo .h1 small {
    font-size: 16px;
}


.main-header .menu {float: right;}

/*desktop nav*/
nav.desktop-nav {float: left;}

nav.desktop-nav li {list-style: none;}

nav.desktop-nav ul.first-level > li {
    float: left;
    margin-right: 20px;
    position: relative;

}

nav.desktop-nav ul.first-level > li:last-child {margin-right: 0}

nav.desktop-nav ul.first-level > li > a {
    display: inline-block;
    line-height: 70px;
    position: relative;
    -webkit-transition: none;
    transition: none;
}

nav.desktop-nav ul.first-level > li > a:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: rgb(173, 169, 163);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out, opacity .2s cubic-bezier(1, .18, .92, .59);
}

nav.desktop-nav ul.first-level > li:hover > a:after {
    top: 48px;
    opacity: 1;
}

nav.desktop-nav ul.first-level > li a {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
}


nav.desktop-nav ul.first-level > li > ul.second-level {
    display: none;
    z-index: 999;
    position: absolute;
    top: 70px;
    left: 0;
    min-width: 200px;
    background-color: #60606e;
}

nav.desktop-nav ul.first-level > li:last-child > ul.second-level {
    left: auto;
    right: 0;
}

nav.desktop-nav ul.first-level > li > ul.second-level > li > a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
}

nav.desktop-nav ul.first-level > li > ul.second-level > li:nth-child(even) > a {
    background-color: #585866;
}

nav.desktop-nav ul.first-level > li > ul.second-level > li > a:hover {
    background-color: #404051;
}

@media (max-width: 991px) {
    .menu nav.desktop-nav {display: none;}
}

/*mobile nav*/
nav.mobile-nav {
    display: inline-block;
    width: 70%;
    min-width: 300px;
    background-color: #60606e;
    position: absolute;
    right: 0;
    top: 70px;
    display: none;
}

nav.mobile-nav > ul.first-level li {
    list-style: none;
}

nav.mobile-nav > ul.first-level > li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 50px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

nav.mobile-nav > ul.first-level > li a:hover {
    background-color: #404051;
}

nav.mobile-nav > ul.first-level > li > ul.second-level {
    display: none;
    background-color: #50505f;
}

/*menu icon*/
header.main-header .menu-icon {
    float: left;
    cursor: pointer;
    margin-top: 15px; /* (100 - 17) / 2 (17px is the icon's height) */
    display: none;
    padding: 8px;
    border: 2px solid #60606e;
    border-radius: 6px;
}

header.main-header .menu-icon .line {
    height: 1px;
    width: 30px;
    background-color: #60606e;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header.main-header .menu-icon .line:nth-child(2) {
    margin: 7px 0;
    width: 15px;
}

header.main-header .menu-icon .line:last-child {width: 20px;}

@media (max-width: 991px) {
    header.main-header .menu-icon {display: block;}
}


/*footer*/
footer.main-footer {
    padding: 40px 0 20px 0;
}

footer.main-footer nav.footer-nav ul {
    padding: 0;
    margin: 0;
}

footer.main-footer nav.footer-nav ul li {
    list-style: none;
    float: left;
    margin: 0 20px;
    padding: 0;
}

footer.main-footer nav.footer-nav ul li:first-child {margin: 0 20px 0 0;}

footer.main-footer nav.footer-nav ul li a {
    text-transform: uppercase;
    color: #9a9a9a;
    font-weight: 500;
}

@media (max-width: 991px) {
    footer.main-footer * {
        text-align: center;
    }

    footer.main-footer ul.social-icons {float: left;width: 100%;text-align: center;}

    footer.main-footer ul.social-icons li {float: none; display: inline-block;margin: 0;width: -webkit-calc(100% / 6);width: calc(100% / 6)}

    footer.main-footer nav.footer-nav ul li {
        text-align: center;
        width: 100%;
    }

    footer.main-footer nav.footer-nav ul li, footer.main-footer nav.footer-nav ul li:first-child {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

/* ##### 02 : SITE HEROS  ##### */
/*site hero 1 */
.site-hero {
    /*min-height: 480px;*/
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: height 0.6s ease;
}

.site-hero.vegas_bg .h1 {
    position: absolute;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    font: 2.75em 'Open Sans';
    letter-spacing: 0.2px;
    line-height: 1.4;
    word-spacing: 5px;
    font-weight: 400;
    margin-top: 0;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    transition: top 0.4s ease;
}

.site-hero.vegas_bg .h1 span {
    font: 24px/48px 'Montserrat', sans-serif;
    font-weight: 300;
    display: block;
}

.site-hero.vegas_bg.with-margin-top .h1 {
    top: 55%;
}

.site-hero:after {
    content: "";
    /*background-color: rgba(128,128,128,0.45);*/
    background-color: rgba(0, 0, 0, 0.3);

    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.site-hero ul.slides {
    height: 450px; /* 850 - 400 */
    width: 100%;
    position: absolute;
    top: 100px;
}

.site-hero ul.slides li {
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-hero .small-title {
    color: #60606e;
    padding: 7px 12px;
    background-color: #7beec7;
    display: inline-block;
}

.site-hero .big-title {
    font-size: 48px;
    color: #60606e;
    padding: 10px 40px;
    border: solid 10px #60606e;
    display: inline-block;
    margin-bottom: 30px;
}

.site-hero p {
    width: 50%;
    margin: 0 auto;
    color: #60606e;
}

/*site hero 2 */
.site-hero_2 {
    background: url("../img/site-hero2.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}

.site-hero_2 .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.site-hero_2 .page-title .big-title {font-size: 36px;}

.site-hero_2 .page-title .small-title {font-size: 14px;}

.agency-container {
    opacity: 0;
}

.agency {
    width: 100%;
    height: auto;
    float: left;
    margin-top: -300px;
}

.agency-inner {
}

.agency img {
    max-height: none;
    max-width: 400px;
}


.img-thumbnail {
    padding: 3px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
}

.agency p {

}

.agency .section-title {
    text-align: left;
    width: 100%;
    margin: 0 auto -5px;
}

.category-bg .row {
    position: relative;
    height: 315px;
    overflow: hidden;
    padding: 20px 30px 20px 30px;
    text-align: left;
}

@media (max-width: 767px) {
    .category-bg .row {
        display: block;
        float: none;
        max-width: 400px;
        margin: auto;
    }
}

.category-bg .row:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.75);
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;
    z-index: 3;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.category-bg i, .category-bg span, .category-bg ul li {
    color: #60606e;
    position: relative;
    z-index: 5;

}

@media (max-width: 991px) {
    .site-hero ul.slides {height: 750px;}

    .agency {margin-top: -150px;}

    .agency img {margin-bottom: 30px;}

    .agency .section-title {margin: 0 auto;text-align: center;}

    .agency .history-cite-box {
        color: #60606e;

    }

    .agency p {
        color: #60606e;
        background-color: transparent;
        font-size: 17px;
        font-weight: 500;
        padding: 14px 12px 15px 17px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        text-align: center;
        /*-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; */
    }

    .agency-inner {text-align: center;}

    .category-bg { margin-bottom: 25px;}

    .category-bg .row:after {width: 100%;}
}

@media (max-width: 767px) {
    .agency {margin-top: -90px;}

}


/* ##### 03 : SERVICES  ##### */
.services .services-left, .services .services-right {
    z-index: 4;
}

.services .services-left .row {
    margin-bottom: 25px;
}

@media (max-width: 991px) {
    .services {margin-top: 50px;}

    .services .services-left .row {margin-bottom: 0;}


}

@media (max-width: 397px) {
    .services .services-left .row:last-child .category-bg:last-child .row {
        height: 350px;
    }
}


.services-right img {
    max-width: 500px;
}

.services .section-title {
    z-index: 4;
    position: relative;
}

.services .services-right {
    height: 650px;
    line-height: 450px;
    vertical-align: bottom;
    margin-top: 60px;
    text-align: center;
}

.services .services-left i.icon {
    display: block;
    font-size: 36px;
}

.services .services-left .service-title {
    font-size: 17px;
    margin: 5px 0 10px 0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #4c4c58;
}

.services .services-left ul li {
    list-style-type: square;
    list-style-position: inside;
    text-transform: uppercase;
    line-height: 28px;
    color: #4c4c58;
    font-weight: 500;
}

.services {
    position: relative;
    background: url(../images/main-services-bg.jpg) no-repeat #fff;
    background-size: cover;
    padding: 50px 50px 15px;
}

@media (max-width: 991px) {
    .services {margin-top: 50px;}
}

@media (max-width: 767px) {
    .services {padding: 50px 20px;}

    .section-title {width: 70%;}

    .section-title span {white-space: nowrap;}
}

.services-bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 991px) {
    .services .services-left {text-align: center;margin-bottom: 0px;}
}


/* ##### 04 : PORTFOLIO  ##### */

.portfolio-section {
    min-height: 500px;
}

.portfolio-section .container {
    margin-top: -50px;
}


.portfolio-section .categories-grid span {
    margin-bottom: 20px;
    display: inline-block;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: #60606e;
}

.portfolio-section .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio-section .categories-grid .categories ul li a {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #60606e;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}

.portfolio-section .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #5589FA;
    padding: 3px 10px 3px 6px;
    color: white;
}

.portfolio_container .single-work {

}

.portfolio_container .single-work img {
    width: 100%;
    height: auto;
}

.portfolio_container .single-work a {
    min-height: 180px;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(128, 255, 255, 0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 2px 0px rgba(204, 204, 204, 1);
}

@media (max-width: 991px) {
    .portfolio_container .single-work {
        float: none;
        max-width: 500px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    .portfolio-section .categories-grid span {margin-bottom: 15px;text-align: center;width: 100%;}

    .portfolio-section .categories-grid .categories ul li {
        text-align: center;
    }

    .portfolio-section .categories-grid .categories ul li a {
        margin-left: 0;
    }
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    /*-webkit-transform: translateY(100%);*/
    /*-ms-transform: translateY(100%);*/
    /*transform: translateY(100%);*/
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    display: block;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: transform .5s ease-in-out .1s;
    transition: transform .5s ease-in-out .1s;
    opacity: 0;
    /*padding-bottom: 12px;*/
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    color: #60606e;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: transform .5s ease-in-out .3s, opacity .5s ease-in-out .3s;
    transition: transform .5s ease-in-out .3s, opacity .5s ease-in-out .3s;
    opacity: 0;
    border-radius: 3px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.portfolio_item:hover .item_info em {
    opacity: 1;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);

}

/*single project*/
.project_images {float: left;}

.related_projects {float: left;}

.pages_pagination {
    width: 100%;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: right;
    font-size: 24px;
    margin: 50px 0;
}

.pages_pagination .all {
    float: left;
}

.pages_pagination > a {
    display: inline-block;
    height: 100%;
    width: 50px;
    text-align: center;
}

.pages_pagination > a:hover {
    background-color: #7beec7;
    color: white;
}

@media (max-width: 991px) {
    .related_projects img {margin-bottom: 30px}
}


/* ##### 05 : INPUTS & TEXTAREAS STYLES  ##### */
/*textarea 1*/
.textarea_1 {
    height: 200px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .1);
    position: relative;
}

.textarea_1 textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #9a9a9a;
}

.textarea_1 > span {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

/*input 1*/
.input_1 {
    height: 50px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .1);
    position: relative;
}

.input_1 input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0 20px;
    float: left;
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #9a9a9a;
}

.input_1 > span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input_1 > span.active, .textarea_1 > span.active {
    color: #7beec7;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #fff;
    padding: 5px
}

/*input 2*/
.input_2 {
    width: 100%;
    height: 40px;
    background-color: #ececec;
    position: relative;
}

.input_2 > input {
    height: 100%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    border: 0;
    background-color: transparent;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.input_2 > button {
    height: 100%;
    width: 40px;
    border: 0;
    background-color: transparent;
}

.input_2 > input:focus {
    background-color: #f2f2f2;
}

/* ##### 06 : BENEFITS STYLES  ##### */
/*benefits 1*/
.benefits_1_single {
    width: 100%;
    text-align: center;
}

.benefits_1_single > i {
    display: inline-block;
    font-size: 60px;
    position: relative;
}

.benefits_1_single > .title:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #7E95F2;
    z-index: -1
}

.benefits_1_single > .title {
    font-size: 18px;
    position: relative;
}

/*benefits 2 */
.benefits_2_single {margin-bottom: 30px;}

.benefits_2_single:nth-last-child(-n+3) {margin-bottom: 30px;}

.benefits_2_single > i {
    display: inline-block;
    background-color: #7beec7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.benefits_2_single > .title {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #60606e;
}


/* ##### 07 : PRICING PLANS STYLES  ##### */
.pricing_plan {
    padding: 30px;
    border-top: solid 5px #7beec7;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pricing_plan:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;

    border-top: 10px solid #7beec7;
}

.pricing_plan:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    box-shadow: 0 0 50px rgba(0, 0, 0, .2)
}

.pricing_plan .plan_title {
    font-size: 30px;
}

.pricing_plan .plan_price {
    background-color: #7beec7;
    padding: 5px 20px;
    color: white;
    font-size: 14px;
    display: inline-block;
}

.pricing_plan ul {
    margin: 50px 0;
}


/* ##### 08 : TEAM STYLES  ##### */
.team_member {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.team_member .team_member_hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.team_member .team_member_hover .team_member_info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.team_member .team_member_hover .team_member_info .team_member_name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #60606e;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.team_member .team_member_hover .team_member_info .team_member_job {
    display: inline-block;
    margin-top: 10px;
    background-color: #7beec7;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    -webkit-transition: all .2s ease-in-out .3s;
    transition: all .2s ease-in-out .3s;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.team_member:hover .team_member_hover {
    opacity: 1;
}

.team_member:hover .team_member_info .team_member_name, .team_member:hover .team_member_info .team_member_job {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


/* ##### 09 : TESTIMONIALS STYLES  ##### */
.testimonials {
    position: relative;
    float: left;
}

.testimonials_single {
    width: 100%;
    text-align: center;
}

.testimonials_single .author_pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.testimonials_single p {margin: 30px 0;}

.testimonials_single .author_name {
    padding: 7px;
    background-color: #7beec7;
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}


/* ##### 10 : CLIENTS STYLES  ##### */
.clients_single {
    border: solid 1px rgba(0, 0, 0, .1);
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

.clients div[class^="col"] {
    margin-bottom: 30px;
}

.clients div[class^="col"]:nth-last-child(-n+3) {margin-bottom: 0}

@media (max-width: 767px) {
    .clients div[class^="col"]:first-child {margin-top: 30px}

    .clients div[class^="col"]:nth-last-child(-n+3) {margin-bottom: 30px}
}

@media (min-width: 768px) and (max-width: 991px) {
    .clients div[class^="col"]:first-child {margin-top: 30px}

    .clients div[class^="col"]:nth-last-child(-n+3) {margin-bottom: 30px}
}

.clients_single img {
    max-width: 100%;
    max-height: 100px;
    opacity: .5;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.clients_single:hover img {opacity: 1}


/* ##### 11 : BLOG STYLES  ##### */
/*blog posts*/
.blog_post {
    margin-bottom: 100px;
}

.post_media {
    margin-bottom: 30px;
}

.post_media * {
    width: 100%;
    max-height: 500px;
}

.post_title {
    margin-bottom: 20px;
}

.post_title span.post_date {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 5px;
    color: white;
}

.post_info {margin-bottom: 20px}

.post_info .post_date {
    background-color: #7beec7;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: white;
    float: left;
    margin-right: 15px;
}

.post_info > * {line-height: 30px}

.post_info > i {
    color: #cccccc;
    font-size: 18px;
    margin-right: 5px;
}

.post_info > span {
    color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-right: 20px;
}

.blog_post > a {
    display: inline-block;
    margin-top: 10px;
}

/*masonry blog posts*/
.blog_post_masonry {
    width: 100%;
    margin-bottom: 50px;
}

.blog_post_masonry .post_media {margin-bottom: 0}

.blog_post_masonry .post_info {margin: 10px 0;}

.blog_post_masonry .post_date {display: block;width: 100%;}


/*sidebar*/
@media (max-width: 991px) {
    .sidebar {margin-top: 100px;}
}

.sidebar {float: left;}

.sidebar .widget {
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

.sidebar .widget:last-child {margin-bottom: 0;}

.sidebar .widget .widget_title {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.sidebar .widget .related_post {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.related_post:hover .thumb {opacity: .5}

.thumb {
    max-height: 60px;
    max-width: 60px;
    display: inline-block;
    margin-right: 15px;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar .widget .related_post .post_title {font-size: 14px;}

.sidebar .widget .related_post .post_date {font-size: 12px;}

.thumb:hover {opacity: .5}

/*pagination*/
.blog_pagination {
    width: 100%;
    text-align: center;
    float: left;
}

.blog_pagination .page {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.blog_pagination .page span {
    display: inline-block;
    padding: 0 20px;
}

.blog_pagination .page i {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.blog_pagination .page:hover i.prev {
    color: #7beec7;
    display: inline-block;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.blog_pagination .page:hover i.next {
    color: #7beec7;
    display: inline-block;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}


/* Footer feedback form starts here */

.feedback-header {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #60606e;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #60606e;
}

#footer-form-box {
    position: relative;
    width: 100%;
    text-align: left;
}

.form-container {
    width: 100%;
    position: relative;
}

.form-container .input-box-name, .form-container .input-box-email {
    width: 100%;
    display: inline-block;
}

.form-container .input-box-name {
    margin-bottom: 10px;
}

.form-container .input-box-email {
    margin-bottom: 10px;

}

.form-container .input-box-message {
    width: 100%;
    margin-bottom: 20px;

}

.form-container label {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: block;
    color: #60606e;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.form-container input[type="text"], .form-container textarea {
    display: block;
    border: none;
    background: #f5f4f4;
    color: #7d7d7d;
    outline: 0px;
    padding: 3px 5px;
}

.form-container input[type="text"] {
    height: 34px;
    width: 80%;
}

.form-container textarea {
    width: 80%;
    padding: 7px 5px;
}

@media (max-width: 767px) {
    .form-container input[type="text"], .form-container textarea {
        width: 90%;
    }
}

@media (max-width: 479px) {
    .form-container input[type="text"], .form-container textarea {
        width: 100%;
    }
}

.input-field, .input-field-textarea {
    position: relative;
}

footer input[type="submit"] {
    float: right;
}

footer input[type="submit"]:hover {
    cursor: pointer;
}


.notification_error { position: absolute;
    width: 400px;
    top: 10px;
    left: 30px;
    z-index: 101;
    border: 2px solid #fff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}


.notification_ok {
    position: absolute;
    width: 400px;
    top: 10px;
    left: 30px;
    z-index: 102;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

/* Footer feedback form ends here*/


/* Page Services */

.page-services-box .services-box-left h3 {
    margin-bottom: 30px;
    line-height: 1.5em;
}

.page-services-box .services-box-left p {
    line-height: 1.6em;

}

.page-services-box .services-box-left p span, .page-services-box .services-box-left .services-box-left-list span {
    font-weight: bold;
    font-style: italic;
}

.page-services-box .services-box-left .services-box-left-list {
    margin-top: 30px;
}

.page-services-box .services-box-left .services-box-left-list ul {
    padding-right: 10px;
}

@media (max-width: 991px) {
    .page-services-box .services-box-left .services-box-left-list ul {
        margin-left: 20px;
    }
}

.page-services-box .services-box-right {
    height: 650px;
    line-height: 450px;
    vertical-align: bottom;
    margin-top: 60px;
    text-align: center;
}

.page-services-box .services-box-right img {
    width: 100%;

}

.page-services-box .services-box-left ul.list li:before {
    color: #7E95F2;
}

.section-my-advantages {
    margin-top: 0px;
}

.section-my-advantages h3 {
    margin-bottom: 50px;
    line-height: 1.4em;

}

@media (max-width: 991px) {
    .section-my-advantages h3 {
        margin-top: 70px;

    }
}

@media (max-width: 767px) {
    .section-my-advantages h3 {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 70px;

    }
}

.section-my-advantages .benefits_1_single .title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    min-height: 3em;

}

.section-my-advantages .benefits_1_single p {
    text-align: center;
    margin-bottom: 15px;

}

.page-regular {
    font-size: 15px;
}

.page-contacts-section {
    margin-top: 50px;
    font-size: 15px;
}

.page-contacts-section .contacts-box-left h3 {
    margin-bottom: 30px;
    line-height: 1.5em;
}

.page-contacts-section .contacts-box-left p span, .post-single-portfolio-item .single-item-description span {
    font-weight: bold;
    font-style: italic;
}

.domain::before {
    content: "\0040"; /* Unicode character for @ symbol */
}

.single-item-description h3 {
    margin-bottom: 20px;
    line-height: 1.5em;
}

.single-item-screenshot img {
    width: 100%;
    max-width: 800px;
    height: auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(27, 27, 27, 0.75);
}

.footer-header-text {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

.errors-box, .success {
    background: rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 3px;
}

.portfolio_container {
    transition: height 0.8s linear;
}

.under-development-title {
    display: block;
    text-align: center;
    margin: 45px auto;
}

.under-development-title img {
    max-height: 60px;
    display: block;
    width: auto;
    margin: 0 auto;
}

.under-development-title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #60606e;
    margin-top: 10px;
}

.page-services-box,
.page-contacts-section {
    margin-top: 30px;
    font-size: 15px;
}

.page-contacts-section .section-title,
.page-services-box .section-title {
    margin-bottom: 30px;
}

.photo-box-appear {
    opacity: 0;
}

.photo-box-appear.photo-box-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.photo-box-appear-done {
    opacity: 1;
}

.photo-box-exit {
    opacity: 1;
}

.photo-box-exit.photo-box-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.form-errors-appear {
    opacity: 0;
}

.form-errors-appear.form-errors-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.form-errors-appear-done {
    opacity: 1;
}

.form-errors-exit {
    opacity: 1;
}

.form-errors-exit.form-errors-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}